                                        .shanxing {
                                            position: relative;
                                            width: 200px;
                                            height: 200px;
                                            top: 15%;
                                            border-radius: 100px;
                                            background-color: yellow;
                                            text-align: center;
                                            left: 30%;
                                        }
                                        
                                        .sx1 {
                                            position: absolute;
                                            width: 200px;
                                            height: 200px;
                                            transform: rotate(0deg);
                                            clip: rect(0px, 100px, 200px, 0px);
                                            /*这个clip属性用来绘制半圆，在clip的rect范围内的内容显示出来，使用clip属性，元素必须是absolute的 */
                                            border-radius: 100px;
                                            background-color: #f00;
                                            /*-webkit-animation: an1 2s infinite linear; */
                                        }
                                        
                                        .sx2 {
                                            position: absolute;
                                            width: 200px;
                                            height: 200px;
                                            transform: rotate(0deg);
                                            clip: rect(0px, 100px, 200px, 0px);
                                            border-radius: 100px;
                                            background-color: #f00;
                                            /*-webkit-animation: an2 2s infinite linear;*/
                                        }
                                        
                                        .sx3 {
                                            position: absolute;
                                            width: 200px;
                                            height: 200px;
                                            transform: rotate(0deg);
                                            clip: rect(0px, 100px, 200px, 0px);
                                            border-radius: 100px;
                                            background-color: #f00;
                                            /*-webkit-animation: an2 2s infinite linear;*/
                                        }
                                        
                                        .sx4 {
                                            position: absolute;
                                            width: 200px;
                                            height: 200px;
                                            transform: rotate(0deg);
                                            clip: rect(0px, 100px, 200px, 0px);
                                            border-radius: 100px;
                                            background-color: #f00;
                                            /*-webkit-animation: an2 2s infinite linear;*/
                                        }
                                        
                                        .shanxing5 .sx1 {
                                            transform: rotate(25deg);
                                            background-color: #f00;
                                        }
                                        
                                        .shanxing5 .sx2 {
                                            transform: rotate(-45deg);
                                            background-color: #DF01D7;
                                        }
                                        
                                        .shanxing5 .sx3 {
                                            transform: rotate(-85deg);
                                            background-color: #7F75E6;
                                        }
                                        
                                        .shanxing5 .sx4 {
                                            transform: rotate(-115deg);
                                            background-color: #0f0;
                                        }
                                        
                                        .wrap {
                                            width: 116px;
                                            height: 116px;
                                            position: relative;
                                            background-color: #d7e3f2;
                                            -moz-border-radius: 50%;
                                            border-radius: 50%;
                                            margin: 0 auto;
                                            float: left;
                                            margin-left: 20%;
                                        }
                                        
                                        .wrap .circle,
                                        .wrap .percent {
                                            position: absolute;
                                            width: 116px;
                                            height: 116px;
                                            -moz-border-radius: 50%;
                                            border-radius: 50%
                                        }
                                        
                                        .wrap .circle {
                                            box-sizing: border-box;
                                            -webkit-box-sizing: border-box;
                                            -ms-box-sizing: border-box;
                                            -moz-box-sizing: border-box;
                                            -o-box-sizing: border-box;
                                            border: 6px solid #d7e3f2;
                                            clip: rect(0, 116px, 116px, 58px)
                                        }
                                        
                                        .wrap .circle .left {
                                            border: 6px solid #ff6349;
                                            clip: rect(0, 58px, 116px, 0)
                                        }
                                        
                                        .wrap .circle .right {
                                            border: 6px solid #ff6349;
                                            clip: rect(0, 116px, 116px, 58px)
                                        }
                                        
                                        .wrap .clip-auto {
                                            clip: rect(auto, auto, auto, auto)
                                        }
                                        
                                        .wrap .clip-auto .left {
                                            border: 6px solid #20ceb2;
                                            clip: rect(0, 58px, 116px, 0)
                                        }
                                        
                                        .wrap .clip-auto .right {
                                            border: 6px solid #20ceb2;
                                            clip: rect(0, 116px, 116px, 58px)
                                        }
                                        
                                        .wrap .percent {
                                            box-sizing: border-box;
                                            -webkit-box-sizing: border-box;
                                            -ms-box-sizing: border-box;
                                            -moz-box-sizing: border-box;
                                            -o-box-sizing: border-box;
                                            top: -6px;
                                            left: -6px
                                        }
                                        
                                        .wrap .wth0 {
                                            width: 0
                                        }
                                        
                                        .wrap .num {
                                            position: absolute;
                                            box-sizing: border-box;
                                            -webkit-box-sizing: border-box;
                                            -ms-box-sizing: border-box;
                                            -moz-box-sizing: border-box;
                                            -o-box-sizing: border-box;
                                            width: 104px;
                                            height: 104px;
                                            text-align: center;
                                            font-size: 20px;
                                            color: #4e5656;
                                            left: 6px;
                                            top: 6px;
                                            -moz-border-radius: 50%;
                                            border-radius: 50%;
                                            background: #fff;
                                            z-index: 1
                                        }
                                        
                                        .wrap .num .accuracy,
                                        .wrap .num .littleAccuracy {
                                            font-size: 30px;
                                            margin: 28px 0 2px
                                        }
                                        
                                        .wrap .num .accuracy {
                                            color: #28c8af
                                        }
                                        
                                        .wrap .num .guahao {
                                            margin-top: -15px;
                                            color: #20ceb2;
                                            font-size: 16px;
                                        }
                                        
                                        .wrap .num .littleAccuracy {
                                            color: #ff6349
                                        }